body {
  background: #2F2E41;
  margin: 0px;
  
}

#base {
width: 1092px;
margin: 71px auto 23px;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

ul {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 28px;
  list-style: none;
  display: flex;
  gap: 65px;
  color: #FFFFFF;
  }

ul li a {
  color: #FFFFFF;
  
  }

  a:hover {
    color:#00BFA6;
  }

main {
display: flex;
align-items: center;
justify-content: space-between;
margin: 101px auto 157px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
  width: 609px;
  margin-bottom: 59px;
}

h1 span {
  font-family: 'JetBrains Mono', monospace;
  font-size: 36px;
  line-height: 40px;
  color: #00BFA6;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #C2C2C2;
  width: 604px;

}

p span {
  color: #00BFA6;
  font-weight: bold;
}

.line {
  border: 1px solid #00BFA6;
  width: 568px;
  margin: 0px auto 27px;
}

footer .contato {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 23px;;
 
}

footer a {
  color: #FFFFFF;
  text-align: center;
 
  }

