* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* faz com que o fundo da barra de rolagem seja transparente no Firefox. */
* {
  scrollbar-width: thin;
  scrollbar-color: #125f77;
}

/* faz o mesmo para o Chrome, Edge e Safari1. */
/* Deixa o transparente no Chrome, Edge e Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #125f778f;
  border-radius: 20px;
  border: 3px solid transparent;
}


:root {
  font-size: 62.5%;

  --text-primary: "Poppins", sans-serif;
  --background-color: black;
  --text-color: rgba(255, 255, 255, 0.918);
  --head-color: #092d38;
  --line-color: #06181c;
  --button-color: #065e7c;
  --remove-color: #f45967;
}

body {
  width: 100%;
  background: var(--background-color);
  color: var(--text-color);

  font-size: 1.6rem;
  font-family: var(--text-primary);
}

#app {
  width: 144.0rem;
  margin: 0 auto;
}

header {
  width: 120.0rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  place-content: space-between;
  margin-top: 8.0rem;
  margin-bottom: 6.0rem;
}

header span {
  margin-left: 10px;  
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.search {
  display: flex;
  align-items: center;
  gap: 4px;
}

.search input {
  width: 35.0rem;
  padding: 1.0rem;
  font-size: 1.6rem;  

  border-radius: .6rem;
  border: none;
  
  box-shadow: 0 1rem 2rem -1rem var(--line-color);
  background: var(--line-color);
  color: var(--text-primary);
}

.search button {
  font-family: var(--text-primary);
  text-transform: uppercase;
  font-size: 1.6rem;  
  
  width: 14.0rem;
  padding: .7rem;
  border-radius: .6rem;
  background: var(--button-color);
  color: var(--text-color);

  border: none;
  cursor: pointer;
}

.search button:hover {
  filter: brightness(1.1)
}


/* TABELA */
.table-container {
  width: 119.0rem;
  margin: 0 auto;

  border: 1px solid #147c9b86;
  border-radius: 1rem;
  overflow: hidden;

  max-height: 60.0rem;
}

.table-tbody { 
  overflow-y: auto;
  max-height: 60.0rem;
}

table {
  font-size: 1.4rem;
  width: 119.0rem;
  margin: 0 auto;
  border-collapse: collapse;
}

.table-thead, .table-tbody {
  width: 100%;
}

.table-thead th, .table-tbody td {
  width: 24.70%; 
  margin-left: 20px;
  padding: 2.0rem;
}

table th{
  background: var(--head-color);

  text-align: left;
  
  font-weight: normal;

  position: sticky;
  top: 0;
}

table .usuario {
  padding-left: 4.5rem;;
}


td.user img {
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

table tbody tr:nth-child(odd) {
  background: var(--background-color);
}

table tbody tr:nth-child(even) {
  background: var(--line-color);
  border-top: 1px solid #147c9b86;
  border-bottom: 1px solid #147c9b86;
}

table td.user {
  display: flex;
  align-items: center;
  gap: 1.5rem;

}

table td.user a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: normal;

}

table td.user a p {
font-weight: bold;

}

table .remove {
  border: none;
  background-color: transparent;
  color: var(--remove-color);
  font-weight: bold;
  cursor: pointer;
}

